// Logo

.logo
  filter: brightness(0) saturate(100%) invert(88%)
  transition: filter 0.3s ease

.logo:hover
  filter: brightness(0) saturate(100%) invert(88%) sepia(24%) saturate(888%) hue-rotate(101deg) brightness(101%) contrast(102%)


// TYPOGRAPHY ------------

// HEADINGS

// Page title

.block-pages--large
  @include in-page-without-sidebar
  @include media-breakpoint-down(desktop)
  @include media-breakpoint-up(desktop)
    .page
      & .page-title a
        @include stretched-link(before)
      & .page-title a
        font-weight: $heading-font-weight
        text-decoration-line: none
      & .page-title a:after
        display: inline-block
        content: " ！"
        position: relative
        font-family: 'Icon'
        vertical-align: middle
        transition: transform 0.55s $arrow-ease-transition
        transform: translateX(0)
      &:hover .page-title a:after
        transform: translateX(0.625rem)

.more
  display: none

.block-pages--cards
  @include grid(2, desktop)
  @include grid(3, desktop)
  @include in-page-without-sidebar
  @include media-breakpoint-down(desktop)
  @include media-breakpoint-up(desktop)
    .cards .card
      & .more
        display: none
      & .page-title a
        font-weight: $heading-font-weight
        text-decoration-line: none
        &:after
          display: inline-block
          content: " ！"
          position: relative
          font-family: 'Icon'
          vertical-align: middle
          transition: transform 0.55s $arrow-ease-transition
          transform: translateX(0)
      &:hover .page-title a:after
        transform: translateX(0.625rem)

.project
  & .project-title
    margin-bottom: $spacing-2
    a
      @include stretched-link(before)
    & a:after
      display: inline-block
      content: " ！"
      position: relative
      font-family: 'Icon'
      vertical-align: middle
      transition: transform 0.55s $arrow-ease-transition
      transform: translateX(0)
  &:hover .project-title a:after
    transform: translateX(0.625rem)

// TEXTS

// Lead description

.block-pages--list
    @include in-page-without-sidebar
      .top .description p
        font-weight: $body-font-weight

.rich-text ul,
.rich-text ol,
.description ul,
.description ol
  margin: $spacing-3 0
  margin-left: $spacing-3
  list-style-position: $list-style-position
  line-height: $list-line-height
  & li
    margin-bottom: $spacing-2
    &::marker
      font-weight: $meta-font-weight

// ICONS ------------

p:after,
a:after
  font-weight: inherit !important

// COMPONENTS ------------

// Header

.has-menu-opened
  @include media-breakpoint-down(desktop)
  @include media-breakpoint-up(desktop)
    header#document-header:not(.hero)
      border-bottom: $border-width solid $color-accent
    .menu .has-children .dropdown-menu
      margin-top: pxToRem(31)
      & .active
        color: $color-accent

header#document-header .menu,
.has-menu-opened header#document-header .menu
  @include media-breakpoint-down(desktop)
  @include media-breakpoint-up(desktop)
    & a,
    & a:active,
    & a:focus
      text-decoration-line: $text-decoration-line
      text-underline-offset: $text-underline-offset
      text-decoration-thickness: $text-decoration-thickness
      &:hover
        text-decoration-color: $color-accent
    & .active,
    & ul .has-children .dropdown-menu ul li .active
      color: $color-accent

header#document-header li
  a:after
    color: $color-accent

// Breadcrumb

.breadcrumb li
  & a,
  & a:active,
  & a:focus
    text-decoration-line: $text-decoration-line
    text-underline-offset: $text-underline-offset
    text-decoration-thickness: $text-decoration-thickness
    &:hover
      text-decoration-color: $color-accent
  & .active
    color: $color-accent

// Hero

.hero
  @include media-breakpoint-up(desktop)
  @include media-breakpoint-down(desktop)
  margin-bottom: 0
  border-bottom: $border-hero solid $border-color
  & .content .btn
    margin-top: $spacing-4
  & .hero-text
    padding-right: var(--grid-gutter)
  &--image-square,
  &--image-portrait
    .content figure
      width: calc( (var(--column-width) * 6) + var(--grid-gutter) * ( 5 - 1 ))

// Buttons

.btn
  font-weight: $meta-font-weight !important

.btn:active,
.btn:focus
  box-shadow: none
  background: $color-background-alt-accent

// Files

.block-files .files li::before
  border: $border-width solid $color-text

abbr
  @include in-page-with-sidebar
    text-decoration: none

// Number keys

.block-key_figures
  margin: 0 !important

// Table of content

#toc-title,
.toc-title
  color: $color-text-alt-reverse

.toc-content
  @include in-page-with-sidebar
    padding-top: var(--grid-gutter)
    padding-right: var(--grid-gutter)

.toc-container
  @include in-page-with-sidebar
    margin: 0
    padding-left: var(--grid-gutter)
    background: $color-background-reverse
    width: calc( (var(--column-width) * 4) + var(--grid-gutter) * 4)
    .toc ol li a
      text-decoration-color: transparent
      text-decoration-line: $text-decoration-line
      text-underline-offset: $text-underline-offset
      text-decoration-thickness: $text-decoration-thickness
      &:hover
        text-decoration-color: $color-accent

// Pagination

.siblings-navigation ul a
  padding: var(--grid-gutter)
  min-height: pxToRem(218)
  transition: all 0.3s ease
  &:hover
    color: $color-text
    background: $color-accent

.publications__page main > .container
  padding-right: 0 !important
  padding-left: 0 !important

.projects__page main
  .document-content .block-siblings-navigation .container
    padding-right: 0
    padding-left: 0

.siblings-navigation
  background: $color-background-alt

.publications__page,
.projects__page
  main
    padding-bottom: 0
  .block-siblings-navigation
    margin-bottom: 0

.siblings-navigation ul
  padding-top: 0
  gap: 0

.pagination li.active
  color: $color-text
  background: $color-accent

// Footer

footer#document-footer
  border-top: $border-width solid $border-color
  li
    & a,
    & a:active,
    & a:focus
      text-decoration-line: $text-decoration-line
      text-underline-offset: $text-underline-offset
      text-decoration-thickness: $text-decoration-thickness
      &:hover
        text-decoration-color: $color-accent
    & .active
      color: $color-accent
    &:after
      color: $color-accent
  button:after
    color: $color-accent

// SECTIONS ------------

// Person & organization

.person,
.organization
  transition: all 0.3s ease

.person:hover .avatar,
.organization:hover .media
  box-shadow: 0px 0px 0px $border-width $color-accent


// BLOCKS ------------

// Call to action

body.full-width .block-call_to_action:first-child
  @include media-breakpoint-down(desktop)
  @include in-page-with-sidebar
  @include in-page-without-sidebar
  @include in-page-with-or-without-sidebar
  .block-content
    padding-top: 0

.block-call_to_action
  @include media-breakpoint-down(desktop)
  @include in-page-with-sidebar
  @include in-page-without-sidebar
  @include in-page-with-or-without-sidebar
  .call_to_action .actions a:first-child
    border: $border-width solid $color-text

body:not(.full-width) .block-call_to_action
  @include in-page-with-sidebar
  .call_to_action > div
    padding-left: var(--grid-gutter)
  .container .block-content
    padding-left: calc( calc( (var(--column-width) * 4) + var(--grid-gutter) * ( 4 - 1 )))

// PAGES ------------

.document-content > .container,
.blocks > .block:first-child:not(.block-call_to_action),
.blocks > .heading:first-child
  padding-top: var(--grid-gutter)

.pages__section
  @include in-page-with-sidebar
  .block:last-child
    margin-bottom: 0

.block:last-child:not(.block-call_to_action, .block-chapter--accent_background, .block.chapter--alt-background, .block-timeline--horizontal, .block-pages--cards, .block-key_figures, .block-siblings-navigation, .block-siblings-navigation)
  padding-bottom: $spacing-5

// PUBLICATIONS

.publications__section
  .document-content .container
    padding-right: 0
    padding-left: 0
  .publications-statistics,
  .block
    padding-right: var(--grid-gutter)
    padding-left: var(--grid-gutter)

.publications__section .publication
  padding-right: var(--grid-gutter)
  padding-left: var(--grid-gutter)
  border-bottom: none
  transition: all 0.3s ease
  &::before
    right: var(--grid-gutter)
  & .publication-title a:hover
    color: $color-text
  &:hover
    background: $color-accent


// PROGRAM 01 - Decision design

.page-program-01
  .breadcrumb li
    & a:hover
      text-decoration-color: $color-program-01
    &:before,
    &.active
	    color: $color-program-01
  & .person:hover .avatar,
  & .organization:hover .media
    box-shadow: 0px 0px 0px $border-width $color-program-01
  footer
    border-top: $border-width solid $color-program-01

//Hero

.page-program-01 .hero
  border-color: $color-program-01

// Header

.page-program-01
  header#document-header .menu,
  .has-menu-opened header#document-header .menu
    @include media-breakpoint-down(desktop)
    @include media-breakpoint-up(desktop)
      & a,
      & a:active,
      & a:focus
        &:hover
          text-decoration-color: $color-program-01
      & .active,
      & ul .has-children .dropdown-menu ul li .active,
        color: $color-program-01
  header#document-header li
    a:after
      color: $color-program-01

.has-menu-opened
  @include media-breakpoint-down(desktop)
  @include media-breakpoint-up(desktop)
    .page-program-01
      header#document-header:not(.hero)
        border-color: $color-program-01
      .menu .has-children .dropdown-menu .active
        color: $color-program-01

// Table of content

.page-program-01 .toc-container
  @include in-page-with-sidebar
  @include media-breakpoint-down(desktop)
  @include media-breakpoint-up(desktop)
    .toc ol li a:hover
      text-decoration-color: $color-program-01 !important
    & .active
      color: $color-program-01


// Footer

.page-program-01 footer#document-footer
  border-color: $color-program-01
  & button:after
    color: $color-program-01
  & li
    & a,
    & a:active,
    & a:focus
      &:hover
        text-decoration-color: $color-program-01
    & .active
    &:after
      color: $color-program-01