<div class="logos-partners">
  <a class="logo-partner" href="https://www.cyu.fr/" target="_blank" title="Go to the CY Cergy Paris University website">
    <img src="/assets/images/logos-partners/logo-cy-university-cergy.png" alt="Logo CY Cergy Paris Université">
  </a>
  <a class="logo-partner" href="https://www.cy-ecolededesign.fr/" target="_blank" title="Go to the CY Design school website">
    <img src="/assets/images/logos-partners/logo-cy-ecole-design.png" alt="Logo CY École de design">
  </a>
  <a class="logo-partner" href="https://www.etis-lab.fr/" target="_blank" title="Go to the Etis Lab website">
    <img src="/assets/images/logos-partners/logo-etis.png" alt="Logo Etis Lab">
  </a>
</div>