<div class="block-logos-partners">
  <a class="logo-partner-link" href="https://www.cyu.fr/" target="_blank">
    <img class="logo-partner-image logo-partner-01" src="/assets/images/logos-partners/logo-cy-university-cergy.png" alt="Logo CY Cergy Paris Université">
  </a>
  <a class="logo-partner-link" href="https://www.cy-ecolededesign.fr/" target="_blank">
    <img class="logo-partner-image logo-partner-02" src="/assets/images/logos-partners/logo-cy-ecole-design.png" alt="Logo CY École de design">
  </a>
  <a class="logo-partner-link" href="https://www.etis-lab.fr/" target="_blank">
    <img class="logo-partner-image logo-partner-03" src="/assets/images/logos-partners/logo-etis.png" alt="Logo Etis Lab">
  </a>
</div>